<h1>Create a New event</h1>


<form action="/events" method="POST">
<input type="text" name="type" required placeholder="Type of event...."><br />
<select name="kidId" required >
    <% kids.forEach(function(kid) {%>
    <option value="<%= kid.id %>"><%= kid.name %></option>
    <%});%>
</select><br />
<input type="text" name="content"><br />
<input type="submit" value="POST">
</form>

<h2>Search for a Doctor/Therapist!</h2>
  <%# <form method="GET" action="/events/results">
  <label for="eventLocation">Search by: </label>
  <input type="text" name="location" placeholder="Enter wa-city">

  <input type="submit" value="Find my appt">
</form> %>

<form action="/events/results" method="GET">

<input type="text" name="name" placeholder="Enter Dr. name here"> 
<select name="location" required>
  <option value=" ">   </option>
  <option value="wa-seattle"> Seattle, WA </option>
  <option value="wa-renton"> Renton, WA</option>
  <option value="wa-tacoma"> Tacoma, WA</option>
  <option value="wa-redmond">Redmond, WA </option>
</select>
<select name="specialty">
  <option value=" ">   </option>
  <option value="speech-therapist"> Speech Therapist </option>
  <option value="occupational-therapist"> Occupational Therapist</option>
  <option value="pediatrician"> Pediatrician</option>
  <option value="nutritionist">Nutritionist </option> 
  </select>
<input type="submit">
</form>

<h2>Create a Playdate </h2>
<form action="/events/playmap" method="GET">

<input type="text" name="location" placeholder="Enter location to start"> 

<input type="submit">

</form>


<a href="/events">&larr; Back to Events</a>
  <a href="/profile">&larr; Back to profile</a>