<h2>Create a Playdate </h2>
<form action="/events/search" method="GET">

 
<input type="text" name="city" placeholder="City">
<input type="text" name="state" placeholder="State">
<input type="submit">

</form>


<a href="/events">&larr; Back to Events</a>
  <a href="/profile">&larr; Back to profile</a>