<h1>Your child/ren:</h1>

<% kids.forEach(function(kid) { %>
  <div class="kid">
  <h2><a href="/kids/<%= kid.id %>"><%= kid.name %></a></h2>
  
  </div>
  <% }); %>

<hr />
<a class="btn btn-default" href="/kids/new">Add a Child </a>

  <hr />
  <a href="/profile">&larr; Back To Profile</a>