<h1>Add a child to your profile</h1>

<form action="/kids" method="POST">
<input type="text" name="name" placeholder="Child's name..">
<input type="date" name="birthdate" placeholder="Please enter your child's birthdate..">
<input type="Submit" value="Add child!">
</form>

<hr />
  <a href="/kids">&larr; Back To kids</a>