<h1><%= kid.name%><small> 
<h1><%= bDayString %><small> 
<hr />
<a href="/kids/<%= kid.id%>/edit">UPDATE CHILD</a>
<form method= "POST" action= "/kids/<%= kid.id %>/?_method=DELETE">
<input type="Submit" value="DELETE">
</form>

<a href="/kids">&larr; Back To kids</a>
<a href="/profile">&larr; Back To Profile</a>